bin/
.home/

# Swift Package Manager
.build/
*-assets/
.swift-module-cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode (if you use Xcode for development)
xcuserdata/
*.xcworkspace
*.xcodeproj
